<!DOCTYPE html>
<html>
    <head>
        <title>Project Upload Guide</title>
        <meta name="description" content="Instructions Page for how to upload projects">
        <style>
            body {
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                background-color: rgb(200, 232, 240);
                font-size:1.5em;
            }
            img{
                border:3px solid rgb(100, 121, 183);
                max-width: 70%;
            }
            p{
                font-size: 1.5em;
            }
            p::after{
                content: "\A-------------------------";
                white-space: pre;
            }
            #warning{
                border:5px dashed red;
            }
        </style>
    </head>
    <body>
        <h1>Project Manual</h1>
        <div id="warning">
            <h2>BEFORE UPLOADING YOUR PROJECTS</h2>
            <ol style="text-decoration:underline 0.2em red;">
                <li>don't upload anything you wouldn't upload to your class assignments.</li>
                <dd>-- you can be held accountable for anything you upload to this website.</dd>
                <li>pls don't try to crash this server on purpose or abuse its resources ^v^</li>
                <li>anyways, thasts its!</li>
            </ol>
        </div>
        <h3>How to upload your projects</h3>
        <div style="display: inline;">
            <img src="https://files.catbox.moe/80mhmq.png">
            <img src="https://files.catbox.moe/kin3gk.png">
        </div>
        <p>1. Create a folder with the name of the project and move all the required files into there. Ideally, have the homepage in the main folder.</p>
        <img src="https://files.catbox.moe/7p4p80.jpg">
        <p>2. Zip the folder</p>
        <img src="https://files.catbox.moe/ypmxhu.png">
        <p>3. Upload the zip file to the website</p>
        <div style="display: inline;">
            <img src="https://files.catbox.moe/i8l5ut.png">
            <img src="https://files.catbox.moe/ktgnyf.png">
        </div>
        <p>4. Type out the name of the file you are compressing along with the file extension</p>
        <p>4a (if you are uploading a webpage). Type out the name of the homepage HTML file. if the file is named "index" or "home", input "index.html" or "home.html".</p>
        <p>4b (if you are uploading a compressed file). Type out the name of the file you are compressing, along with the extension. if its a png image named "trees," type "trees.png". if it is a jpg, do 
            trees.jpg", and same with other file types.
        </p>
        
        
        <p>5. Submit and hope that nothing goes wrong :)</p>
        
        <img src="https://files.catbox.moe/ooib55.png">
        <p>6. If nothing goes wrong, then yay it worked! Scroll down to the bottom, and you should see a preview of your homepage there, and click on it to go to your hosted webpage.</p>
        <br>
        <br>
        <br>
    </body>
</html>