<!DOCTYPE html>
<html>
    <head>
        <title>Project Manual</title>
        <meta name="description" content="Instructions Page for how to upload projects">
        <style>
            body {
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                background-color: rgb(200, 232, 240);
            }
            img{
                border:3px solid rgb(100, 121, 183);
            }
            p{
                font-size: 1.5em;
            }
            p::after{
                content: "\A-------------------------";
                white-space: pre;
            }
        </style>
    </head>
    <body>
        <h1>Project Manual</h1>
        <h3>How to upload your projects</h3>
        <div style="display: inline;">
            <img src="https://files.catbox.moe/80mhmq.png">
            <img src="https://files.catbox.moe/kin3gk.png">
        </div>
        <p>1. Create a folder with the name of the project and move all the required files into there. Make sure to have the main page in the main directory.</p>
        <img src="https://files.catbox.moe/7p4p80.jpg">
        <p>2. Zip the folder</p>
        <img src="https://files.catbox.moe/ypmxhu.png">
        <p>3. Upload the zip file to the website</p>
        <div style="display: inline;">
            <img src="https://files.catbox.moe/i8l5ut.png">
            <img src="https://files.catbox.moe/ktgnyf.png">
        </div>
        <p>4. Type out the name of the homepage HTML file. if the file is named "index", input "index.html" or "index.htm" depending on the file extension</p>
        <p>5. Submit and hope that nothing goes wrong :)</p>
        
        <img src="https://files.catbox.moe/ooib55.png">
        <p>6. If nothing goes wrong, then yay it worked! Scroll down to the bottom, and you should see a preview of your homepage there, and click on it to go to your hosted webpage.</p>
    </body>
</html>