<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="The official website of Full-Stack Nexus at CRHS, a web development club for beginners!">
        <meta name="og:image" content="assets/icon">
        <title>Full-Stack Nexus CRHS</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Major+Mono+Display&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="assets/styles/home-0.css">  
        
        <style>
            
        </style>

    </head>
    <body>
       
        <header>
            <div id="nav-button-container">
                <img id="header-icon" src="assets/icon-mini">
                <span id="nav-menu-left">
                    <span id="calendar" class="nav-button" data-info="calendar">
                        Calendar(placeholder)
                    </span>
                    <span id="student-projects" class="nav-button" data-info="projects">
                        Student-Made Projects
                    </span>
                    
                </span>
                <span id="nav-menu-right">
                    <span id="register-button" class="nav-button" data-info="register">
                        Register
                    </span>
                    <spam id="login-button" class="nav-button" data-info="login">
                        Login
                    </spam>
                    <span id="join-button" class="nav-button" data-info="join">
                        Join The Club!
                    </span>
                </span>
            </div>
        </header>
        <div id="after-header"></div>
        <div id="main-page">
            <h1>hi Test tEst teSt tesT</h1>
            <p>this is a thing.</p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
d
        </div>

        <footer>

        </footer>
    </body>
    <script src="assets/scripts/home.js"></script>
</html>