<!DOCTYPE html>
<html>
    <head>
        <title>Join FSN!</title>
    </head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sanchez&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* REALLY BAD CSS */
        @keyframes background-gradient-shift {
            0% {
                background-position:0% 50%;
            }
            50% {
                background-position:100% 50%;
            }
            100% {
                background-position:0% 50%;
            }
        }
        @keyframes load{
            0% {
                transform: translateX(-50%);
                opacity: 0;
            }
            100% {
                transform: translateX(0px);
                opacity: 1;
            }
        }
        body {
            background-color: rgb(200, 237, 255);
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            padding: 0;
            margin: 0;
            position: relative;
            
            background: linear-gradient(270deg, #d1fbf0, #b4def2, #f9d1df, #e5efff);
            background-size: 800% 800%;
            animation: background-gradient-shift 8s ease infinite;
            
        }

        * {
            position: inherit;
            /* animation: load 1.5s ease-out; */
        }

        a {
            color: rgb(43, 128, 103);
            text-decoration: none;
            text-decoration: underline;
            transition: color 0.5s;
        }

        a:hover {
            color:rgb(0, 210, 147);
        }

        hr {
            margin: 0;
        }

        ul, ol {
            margin: 20px 0px;
        }

        ul:nth-child(2), ol:nth-child(2) {
            transition-delay: 1200ms;
        }

        li {
            margin: 10px 0;
            opacity: 0;
            transform: translateX(-50%);
            transition: all 0.5s ease-out;
        }

        li.fade-in {
            opacity: 1;
            transform: translateX(0px);
        }

        header {
            margin: 0;
            background-color: rgb(198, 255, 248);
            min-height: 3em;
            height: 3em;
            max-height: 3em;
            z-index: 0;
            color: aliceblue;
            width: 100%;
            display: flex;
            justify-content:space-between;
        }

        #title {
            display: flex;
            font-size: 1.5em;
            color: black;
            height: inherit;
            margin: 0 0 0 5px;
            align-items: center;
        }
    
        #info {
            background-color: inherit;
            z-index: 2;
            position: inherit;
            background: linear-gradient(270deg, #d1fbf0, #b4def2, #f9d1df, #e5efff);
            background-size: 800% 800%;
            animation: background-gradient-shift 8s ease infinite;
        }

        #icon {
            min-height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            transition: transform 0.5s;
            transform: translateY(0em);
            margin-right: 5px;

            img {
                min-height: inherit;
                margin-bottom: calc(inherit / 2);
            }
        }

        #icon-text {
            padding: 0;
            min-height: inherit;
            margin: auto inherit 0 inherit !important;
            color: white;
            /* transition: color 0.5s cubic-bezier(1,.04,.6,.14); */
            transition-property: color, border;
            transition-duration: 0.4s;
            transition-timing-function: cubic-bezier(1,.04,.6,.14);
            display: flex;
            align-items: center;
            text-align: right;

            * {
                display: flex;
                align-items: center;
            }
        }

        #icon:hover {
            transform: translateY(calc(-3em));

            #icon-text{
                color: black;
                border-left: 3px black solid;

            }
        }
    </style>
    <script src="../assets/scripts/join.js" defer></script>
    <body>
        <hr>
        <header>
            <h1 id="title">About FSN</h1>
            <a id="icon" href="../">
                <img src="../assets/icon-mini" id="icon-img" alt="fsn logo">
                <div id="icon-text">
                    <p>Home Page</p>
                </div>
            </a>
        </header>
        <div id="info">
            <hr>
            <br>
            Overview:
            <ul>
                <li>
                    learn how to code webpages! (HTML, CSS, JS)
                </li>
                <li>
                    meetings every tuesday after school at room 2224 or 2225
                    <ul>
                        <li>
                            check out the <a href="../calendar">calendar</a> for more specific info!
                        </li>
                        <li>
                            if you can't make it to the meetings, the slides and projects made for that week will be posted <a href="../presentations">here</a>(you have to login to the website) and a personal in-person/online session can be held given a day and time
                        </li>
                    </ul>
                </li>
                <li>
                    meetings usually last 30min-1hr after school depending on the plans for that day
                </li>
                <li>
                    upload your finished projects to the website so you can see them at any time!
                    <ul>
                        <li>
                            link to the <a href="../projects">projects</a> page
                        </li>
                        <li>
                            <a href="../register">register</a> to the website in order to upload!
                        </li>
                    </ul>
                </li>
            </ul>
            

            Requirements:
            <ul>
                <li>
                    None, however a basic understanding of HTML <span style="color: rgb(108, 75, 255);">!!inspect element!!</span> and coding will go a long ways
                </li>
            </ul>

            <br>
            Optional:
            <ul>
                <li>donation of 200$/month
                    <ul>
                        <li>servers are very expensive to maintaing!!!!!</li>
                        <li>comes with steak catering service to every meeting</li>
                    </ul>
                </li>
                <li>
                    more to come...
                </li>
            </ul>
            Sounds Interesting?
            <ol>
                <li>
                    <a href="../register">Register</a> to the website to join!
                </li>
                <li>
                    Join the <a href="https://www.remind.com/join/fullstackn">Remind group at @fullstackn</a> for future updates and meetings!
                    <ul>
                        <li>
                            This DOES require manual approval, so register to the website with a recognizable username while joining the remind group to confirm your identity.
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </body>
</html>