<!DOCTYPE html>
<html>
    <head>
        <title>Join FSN!</title>
    </head>
    <body>

        <div id="info">
            Information
            <ul>
                <li>
                    meetings are every tuesday after school at room 2224
                    <ul>
                        <li>
                            check out the <a href="../calendar">calendar</a> for more specific info!
                        </li>
                        <li>
                            if you can't make it to the meetings, i will post the slides and projects made for that week and can even hold a personal session provided we decide on a day and time
                        </li>
                    </ul>
                </li>
                <li>
                    meetings usually last 30min-1hr after school depending on the plans for that day
                </li>
                <li>
                    upload your finished projects ot the website so you can see them at any time!
                    <ul>
                        <li>
                            link to the <a href="../projects">projects</a> page
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        Requirements
        <ol>
            <li></li>
        </ol>

        <br>
        Optional
        <ol>
            <li>cost: 200$/month
                <ul>
                    <li>servers are very expensive!!!!!</li>
                    <li>comes with steak catering service to every meeting</li>
                </ul>
            </li>
            <li>

            </li>
        </ol>
    </body>
</html>