<!DOCTYPE html>
<html>
    <head>
        <style>
            html {
                background-color: rgb(200, 232, 240);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
            }
            
            body {
                padding:10px;
            }

            header {
                text-align: center;
            }
        </style>
        <meta name="description" content="Student-Made Projects from FSN">
        <meta property="og:image" content="assets/icon?type=png">
    </head>

    <body>
        <header>
            <h1>Projects</h1>
            <h3>A collection of our members' creations</h3>
            <% if(locals.username){ %>
                <span id="login-message">Logged in as <%= username %></span>
                
            <% } else { %>
                <a id="login-message" style="text-decoration: underline;" href="../login">Log in to upload your projects!</a>
            <% } %>
            <p>nothing works rn lmao</p>
        </header>

        <div id="projects-container">

        </div>
    </body>
</html>