html {
    width: 100%;
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: cornflowerblue;
    text-align: center;
}

header {
    margin: auto;
    margin-top: 3vw !important;
    width: 50%;
    padding: 0.5% 2%;
    background-color:rgb(138, 146, 255);
    border: 0.5vw white solid;
}

a {
    color: white;
    font-size: 2em;
}
#date {
    margin-bottom: 0.75vw;
    font-size: 2vw;
    width: fit-content;
    height: 3vw;
    border-radius: 0.5vw;

}

#calendar {
    margin: auto;
    min-width: 75%;
    background-color: rgb(138, 167, 255);
    border-spacing: 1vw 0.75vw;
    border-radius: 0.25vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.calendar-row {
    
}

.calendar-row > td {
    position: relative;
    width: calc(75vw / 7);
    min-width: calc(80vw / 36);
    height: calc(75vw / 6);
    background-color: rgb(168, 220, 218);
    border-radius: 0.25vw;
    border: 0.5vw solid rgb(125, 255, 168);
}

.calendar-day-number {
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0.5vw;
    width: 100%;
    text-align: right;
    font-size: calc(75vw / 36);
}

form > * {
    height: 10%;
}

.eventText {
    font-size: 2em;
    max-height: calc(75vw / 6);
    overflow: scroll;
}

/* 
#selected-day .eventText {
    background-color:rgb(138, 167, 255);
} */